#!/usr/bin/make -f
# -*- makefile -*-
# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ --buildsystem=python_distutils

override_dh_auto_test:
	${MAKE} test
	dh_auto_test

override_dh_auto_build:
	$(MAKE) -C src libpsipp.so
	# Inject debian version into binary package
	echo "version = \"$$(dpkg-parsechangelog  | grep Version | cut -f2 -d' ')\"">> pypsignifit/__version__.py
	$(MAKE) swig
	dh_auto_build

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) clean
